.bg{
  background:url('../images/background.jpg') center center; /* 배경 이미지의 위치를 가로와 세로 모두 중앙 정렬 */
  background-size: cover; /* cover는 배경 이미지가 요소의 크기에 맞게 비율을 유지하면서 크기를 조정하도록 설정하는 값 */
  background-attachment: fixed; /* fixed는 배경 이미지를 스크롤할 때 고정시켜서 페이지 스크롤을 해도 배경 이미지는 움직이지 않게 만듦. (스크롤에 영향 X) */
  height:650px;
}